/* Colors */
/* Fonts */
/* Media Query */
/* Extends */
.header-title {
  text-align: center; }

/* Mixins */
/* Global Styles */
*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0 auto; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  height: 12rem;
  background-color: #FFAE19;
  padding-top: 1px; }

.header-title {
  position: relative;
  top: 47%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFFFFF; }
